.cartContainer{
    position: relative;
    margin-top: 1rem;
}

.cartEmpty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.totalMount, h4{
    display:inline-block;
    margin-top: 1rem;
    text-align: right;
}

.topButton{
    position: absolute;
    top: 0;
    right: 1.5em;
}
