.cartContainer{
    position: relative;
    margin-top: 6rem;
}

.cartEmpty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.totalMount{
    margin-top: 2rem!important;
    display: flex;
    justify-content: space-evenly;
}

.topButton{
    position: absolute;
    top: 0;
    right: 1.5em;
}
