.categoriesList-item{
    text-decoration: none; 
    color: rgba(7, 6, 6, 0.466);
    padding-left: .7rem;    
    font-size: 1.2rem;
}

.dropdown-categories{
    display: flex;
    justify-content: center;
    background-color: #212529!important;
    margin-right: 2rem;
}

.dropdown{
    display: flex;
}

.arrow-none > button, .arrow-none{
    background-color: transparent!important;
    border: none!important;
    padding: 0!important;
    text-decoration: none;
    color: aliceblue;
    transition: all 0.5s ease;
}

.arrow-none > button::after{
    display:none;
}
