.card-flex{
    display: flex;
    flex-direction: row!important;
    text-align: center;
}

.itemDetail-img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.div-img{
    height:30rem;
    margin: auto 0; 
    width: 100%;
}

.div-body{
    padding: 0 4rem!important;
}

.itemDetail-title{
    font-size: 6rem!important;
    text-align: center
}

.itemDetail-itemCount{
    display: block;
    width: 100%;
}