.nav-img{
    width: 8rem;
    height: 4rem;
}

.active{
    color: rgb(130, 151, 197)!important;

}

.nav-links{
    display: flex;
    align-items: baseline;
}

.nav-links > a{
    text-decoration: none;
    color: aliceblue;
    margin-right: 2rem;

}

.link-img{
    text-decoration: none;
    color: aliceblue;
    transition: all 0s ease;
}

.nav-links > a:hover, .link-img:hover, .categories{
    color: white;
    /* font-size: 1.03rem;
    margin-bottom: .25rem; */
}